body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

hr {
    width: 500px;
}

#errors {
    color: blueviolet;
}

#sudoku-container {
    width: 288px;
    height: 288px;
    background-color: bisque;
    margin: 0 auto;
    display: grid;
    border: 3px solid black;
    /* this will set the 6 by 6 boxes apart */
    box-sizing: border-box;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    box-sizing: border-box;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}




#digits {
    width: 450px;
    height: 50px;

    background-color: aquamarine;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}